/* ************************
        ** Variables
        ** ********************* */
:root {
    --msg-input__background: #f8f6fd;
    --msg-input__padding: 0 24px;
    --msg-input__emoji-picker__bottom: 0;
    --msg-input__emoji-picker__right: 0;
    --msg-input__icon__color: #585858;
    --msg-input__icon__margin: 5px 10px;
    --msg-input__icon__fontSize: 22px;
    --msg-input__indicator__color: #585858;
    --msg-input__indicator__fontFamily: inherit;
    --msg-input__indicator__fontSize: 11px;
    --msg-input__indicator__fontWeight: normal;
    --msg-input__indicator__margin: 10px 0 0;
    --msg-input__indicator__minHeight: 16px;
    --msg-input__indicator__padding: 0;
    --msg-input__send__background: #8e2de2;
    --msg-input__send__border: none;
    --msg-input__send__borderRadius: 5px;
    --msg-input__send__color: #ffffff;
    --msg-input__send__fontFamily: inherit;
    --msg-input__send__fontSize: 13px;
    --msg-input__send__fontWeight: bold;
    --msg-input__send__margin: 2px;
    --msg-input__send__minWidth: 40px;
    --msg-input__send__padding: 10px;
    --msg-input__textarea--focus__border: 1px solid #9b9b9b;
    --msg-input__textarea--focus__outline: none;
    --msg-input__textarea__background: transparent;
    --msg-input__textarea__border: 1px solid #9b9b9b;
    --msg-input__textarea__borderRadius: 5px;
    --msg-input__textarea__boxShadow: none;
    --msg-input__textarea__color: #585858;
    --msg-input__textarea__fontFamily: inherit;
    --msg-input__textarea__fontSize: 13px;
    --msg-input__textarea__lineHeight: 15px;
    --msg-input__textarea__outline: none;
    --msg-input__textarea__padding: 12px;
    --msg-input__textarea__resize: none;
    --msg-input__textarea__width: 100%;
}

/* ************************
        ** Styles
        ** ********************* */
.pn-msg-input {
    background: var(--msg-input__background);
    padding: var(--msg-input__padding);
}

.pn-msg-input__wrapper {
    background: var(--msg-input__textarea__background);
    border-radius: var(--msg-input__textarea__borderRadius);
    border: var(--msg-input__textarea__border);
    box-shadow: var(--msg-input__textarea__boxShadow);
    display: flex;
    position: relative;
}

    .pn-msg-input__wrapper:focus-within {
        outline: var(--msg-input__textarea--focus__outline);
        border: var(--msg-input__textarea--focus__border);
    }

.pn-msg-input__spacer {
    padding: var(--msg-input__textarea__padding);
    width: 100%;
}

.pn-msg-input__textarea {
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: var(--msg-input__textarea__color);
    font-family: var(--msg-input__textarea__fontFamily);
    font-size: var(--msg-input__textarea__fontSize);
    height: var(--msg-input__textarea__lineHeight);
    line-height: var(--msg-input__textarea__lineHeight);
    outline: var(--msg-input__textarea__outline);
    padding: 0;
    resize: var(--msg-input__textarea__resize);
    width: var(--msg-input__textarea__width);
    overflow: hidden !important;
}

.pn-msg-input__send {
    background: var(--msg-input__send__background);
    border-radius: var(--msg-input__send__borderRadius);
    border: var(--msg-input__send__border);
    color: var(--msg-input__send__color);
    cursor: pointer;
    flex-shrink: 0;
    font-family: var(--msg-input__send__fontFamily);
    font-size: var(--msg-input__send__fontSize);
    font-weight: var(--msg-input__send__fontWeight);
    margin: var(--msg-input__send__margin);
    min-width: var(--msg-input__send__minWidth);
    outline: none;
    padding: var(--msg-input__send__padding);
    white-space: nowrap;
}

.pn-msg-input__emoji-picker {
    bottom: var(--msg-input__emoji-picker__bottom);
    right: var(--msg-input__emoji-picker__right);
    position: absolute;
}

.pn-msg-input__icon {
    align-self: center;
    cursor: pointer;
    color: var(--msg-input__icon__color);
    font-size: var(--msg-input__icon__fontSize);
    margin: var(--msg-input__icon__margin);
}

.pn-msg-input__indicator {
    color: var(--msg-input__indicator__color);
    font-family: var(--msg-input__indicator__fontFamily);
    font-size: var(--msg-input__indicator__fontSize);
    font-weight: var(--msg-input__indicator__fontWeight);
    margin: var(--msg-input__indicator__margin);
    min-height: var(--msg-input__indicator__minHeight);
    padding: var(--msg-input__indicator__padding);
}

/* ************************
        ** Themes
        ** ********************* */
.pn-msg-input--dark,
.pn-msg-input--event-dark,
.pn-msg-input--support-dark {
    --msg-input__background: #2f3136;
    --msg-input__icon__color: #dcddde;
    --msg-input__indicator__color: #dcddde;
    --msg-input__textarea__background: #36393f;
    --msg-input__textarea__border: 1px solid #36393f;
    --msg-input__textarea__boxShadow: 0 6px 10px rgba(20, 20, 20, 0.15);
    --msg-input__textarea__color: #dcddde;
    --msg-input__textarea--focus__border: 1px solid #36393f;
}
/* ************************
        ** Variables
        ** ********************* */
:root {
    --msg-list__background: #f8f6fd;
    --msg-list__padding: 0 0 10px;
    --msg-list__unread__background: #9b9b9b;
    --msg-list__unread__borderRadius: 20px;
    --msg-list__unread__color: #ffffff;
    --msg-list__unread__fontSize: 13px;
    --msg-list__unread__fontWeight: 400;
    --msg-list__unread__padding: 8px 16px;
    --msg-list__unread__offset: 50px;
    --msg-list__spinner__color: #9b9b9b;
    --msg--hover__background: #f1eff7;
    --msg__alignItems: flex-start;
    --msg__flexDirection: row;
    --msg__height: auto;
    --msg__padding: 10px 24px;
    --msg__actions--hover__background: #e1dfe6;
    --msg__actions__background: #ffffff;
    --msg__actions__color: #585858;
    --msg__actions__fontSize: 22px;
    --msg__actions__borderRadius: 10px;
    --msg__actions__padding: 2px 8px;
    --msg__actions__right: 10px;
    --msg__actions__top: 10px;
    --msg__author__color: #585858;
    --msg__author__fontSize: 15px;
    --msg__author__fontWeight: 500;
    --msg__author__padding: 0;
    --msg__avatar__display: block;
    --msg__avatar__margin: 2px 21px 0 0;
    --msg__avatar__size: 36px;
    --msg__avatar__borderRadius: 36px;
    --msg__bubble__background: #ffffff;
    --msg__bubble__boxShadow: 0 6px 10px rgba(103, 19, 176, 0.06);
    --msg__bubble__borderRadius: 0 10px 10px 10px;
    --msg__bubble__color: #585858;
    --msg__bubble__fontSize: 13px;
    --msg__bubble__fontWeight: 400;
    --msg__bubble__margin: 0;
    --msg__bubble__padding: 16px;
    --msg__content__alignItems: flex-start;
    --msg__content__flexDirection: column;
    --msg__content__margin: 0;
    --msg__image__borderRadius: 10px;
    --msg__image__margin: 10px 0 0;
    --msg__link__margin: 10px 0 0;
    --msg__link__padding: 20px;
    --msg__link-description__color: #9b9b9b;
    --msg__link-thumb__maxWidth: 210px;
    --msg__link-title__color: #8e2de2;
    --msg__main__alignItems: flex-start;
    --msg__main__flexDirection: column;
    --msg__main__margin: 0;
    --msg__main__maxWidth: 60%;
    --msg__time__display: block;
    --msg__time__color: #9b9b9b;
    --msg__time__fontSize: 11px;
    --msg__time__fontWeight: normal;
    --msg__time__padding: 0 10px;
    --msg__title__alignItems: baseline;
    --msg__title__display: flex;
    --msg__title__margin: 0 0 10px;
    --msg__reaction--hover__background: #e1dfe6;
    --msg__reaction__background: #ffffff;
    --msg__reaction__borderRadius: 10px;
    --msg__reaction__margin: 10px 5px 0 0;
    --msg__reaction__padding: 7px 10px;
}

/* ************************
        ** Styles
        ** ********************* */
.pn-msg-list {
    background: var(--msg-list__background);
    height: 100%;
    overflow: hidden;
    padding: var(--msg-list__padding);
    position: relative;
    width: 100%;
}

.pn-msg-list-scroller {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    transform: translateZ(0);
    position: relative;
    width: 100%;
}

.pn-msg-list__spinner {
    color: var(--msg-list__spinner__color);
}

.pn-msg-list__unread {
    background: var(--msg-list__unread__background);
    border-radius: var(--msg-list__unread__borderRadius);
    color: var(--msg-list__unread__color);
    cursor: pointer;
    font-size: var(--msg-list__unread__fontSize);
    font-weight: var(--msg-list__unread__fontWeight);
    left: 50%;
    padding: var(--msg-list__unread__padding);
    position: fixed;
    top: var(--msg-list__unread__offset);
    transform: translateX(50%);
    z-index: 5;
}

.pn-msg-list__bottom-ref {
    width: 100%;
    height: 1px;
}

.pn-msg-list__spacer {
    flex: 1 1 auto;
}

.pn-msg-list__emoji-picker {
    position: absolute;
    right: 50px;
    z-index: 10;
}

.pn-msg-list__emoji-picker-hidden {
    pointer-events: none;
    visibility: hidden;
}

.pn-msg {
    align-items: var(--msg__alignItems);
    display: flex;
    flex-direction: var(--msg__flexDirection);
    height: var(--msg__height);
    padding: var(--msg__padding);
    position: relative;
}

    .pn-msg:hover {
        background: var(--msg--hover__background);
    }

        .pn-msg:hover .pn-msg__actions {
            display: block;
        }

.pn-msg__actions {
    color: var(--msg__actions__color);
    cursor: pointer;
    display: none;
    font-size: var(--msg__actions__fontSize);
    position: absolute;
    right: var(--msg__actions__right);
    top: var(--msg__actions__top);
}

    .pn-msg__actions > div {
        background: var(--msg__actions__background);
        border-radius: var(--msg__actions__borderRadius);
        padding: var(--msg__actions__padding);
    }

        .pn-msg__actions > div:hover {
            background: var(--msg__actions--hover__background);
        }

.pn-msg__main {
    align-items: var(--msg__main__alignItems);
    display: flex;
    flex-direction: var(--msg__main__flexDirection);
    padding: var(--msg__main__margin);
    max-width: var(--msg__main__maxWidth);
}

.pn-msg__content {
    align-items: var(--msg__content__alignItems);
    display: flex;
    flex-direction: var(--msg__content__flexDirection);
    padding: var(--msg__content__margin);
}

.pn-msg__title {
    align-items: var(--msg__title__alignItems);
    display: var(--msg__title__display);
    margin: var(--msg__title__margin);
}

.pn-msg__bubble {
    background: var(--msg__bubble__background);
    box-shadow: var(--msg__bubble__boxShadow);
    border-radius: var(--msg__bubble__borderRadius);
    color: var(--msg__bubble__color);
    display: inline-block;
    font-size: var(--msg__bubble__fontSize);
    font-weight: var(--msg__bubble__fontWeight);
    margin: var(--msg__bubble__margin);
    padding: var(--msg__bubble__padding);
}

.pn-msg__author {
    color: var(--msg__author__color);
    font-size: var(--msg__author__fontSize);
    font-weight: var(--msg__author__fontWeight);
    padding: var(--msg__author__padding);
}

.pn-msg__time {
    display: var(--msg__time__display);
    color: var(--msg__time__color);
    font-size: var(--msg__time__fontSize);
    font-weight: var(--msg__time__fontWeight);
    padding: var(--msg__time__padding);
}

.pn-msg__avatar {
    display: var(--msg__avatar__display);
    margin: var(--msg__avatar__margin);
    width: var(--msg__avatar__size);
}

    .pn-msg__avatar img {
        border-radius: var(--msg__avatar__borderRadius);
        width: 100%;
    }

.pn-msg__avatar-placeholder {
    background: var(--msg__bubble__background);
    border-radius: var(--msg__avatar__borderRadius);
    height: var(--msg__avatar__size);
    width: var(--msg__avatar__size);
}

.pn-msg__reaction {
    background: var(--msg__reaction__background);
    border-radius: var(--msg__reaction__borderRadius);
    color: var(--msg__bubble__color);
    cursor: pointer;
    display: inline-block;
    font-size: var(--msg__bubble__fontSize);
    font-weight: var(--msg__bubble__fontWeight);
    margin: var(--msg__reaction__margin);
    padding: var(--msg__reaction__padding);
}

    .pn-msg__reaction:hover {
        background: var(--msg__reaction--hover__background);
    }

.pn-msg__reaction--active {
    background: var(--msg__reaction--hover__background);
}

.pn-msg__image {
    border-radius: var(--msg__image__borderRadius);
    margin: var(--msg__image__margin);
    max-width: 100%;
}

.pn-msg__link {
    background: var(--msg__bubble__background);
    border-radius: var(--msg__bubble__borderRadius);
    box-shadow: var(--msg__bubble__boxShadow);
    color: var(--msg__bubble__color);
    display: flex;
    font-size: var(--msg__bubble__fontSize);
    font-weight: var(--msg__bubble__fontWeight);
    margin: var(--msg__link__margin);
    overflow: hidden;
    text-decoration: none;
}

    .pn-msg__link img {
        max-width: var(--msg__link-thumb__maxWidth);
    }

    .pn-msg__link > div {
        padding: var(--msg__link__padding);
    }

.pn-msg__link-name {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

    .pn-msg__link-name img {
        margin-right: 10px;
        max-height: 16px;
        max-width: 16px;
        vertical-align: bottom;
    }

.pn-msg__link-title {
    color: var(--msg__link-title__color);
    font-weight: 500;
    margin: 2px 0;
}

.pn-msg__link-description {
    color: var(--msg__link-description__color);
    margin: 0;
}

/* ************************
        ** Themes
        ** ********************* */
.pn-msg-list--dark {
    --msg-list__background: #2f3136;
    --msg--hover__background: #2b2d31;
    --msg__actions--hover__background: #232427;
    --msg__actions__background: #36393f;
    --msg__actions__color: #dcddde;
    --msg__reaction--hover__background: #232427;
    --msg__reaction__background: #36393f;
    --msg__author__color: #dcddde;
    --msg__bubble__background: #36393f;
    --msg__bubble__boxShadow: 0 6px 10px rgba(20, 20, 20, 0.15);
    --msg__bubble__color: #dcddde;
}

.pn-msg-list--support {
    --msg__title__display: none;
}

    .pn-msg-list--support .pn-msg--own {
        --msg__flexDirection: row-reverse;
        --msg__avatar__display: none;
    }

.pn-msg-list--support-dark {
    --msg-list__background: #2f3136;
    --msg--hover__background: #2b2d31;
    --msg__actions--hover__background: #232427;
    --msg__actions__background: #36393f;
    --msg__actions__color: #dcddde;
    --msg__author__color: #dcddde;
    --msg__bubble__background: #36393f;
    --msg__bubble__boxShadow: 0 6px 10px rgba(20, 20, 20, 0.15);
    --msg__bubble__color: #dcddde;
    --msg__reaction--hover__background: #232427;
    --msg__reaction__background: #36393f;
    --msg__title__display: none;
}

    .pn-msg-list--support-dark .pn-msg--own {
        --msg__flexDirection: row-reverse;
        --msg__avatar__display: none;
    }

.pn-msg-list--event {
    --msg__alignItems: flex-start;
    --msg__actions__top: 0;
    --msg__author__fontSize: 13px;
    --msg__avatar__display: none;
    --msg__bubble__background: transparent;
    --msg__bubble__boxShadow: none;
    --msg__bubble__padding: 0;
    --msg__content__alignItems: center;
    --msg__content__flexDirection: row;
    --msg__main__alignItems: baseline;
    --msg__main__flexDirection: column;
    --msg__main__maxWidth: 100%;
    --msg__padding: 7px 12px;
    --msg__time__display: none;
    --msg__title__margin: 0 6px 0 0;
}

    .pn-msg-list--event .pn-msg__author:after {
        content: ":";
    }

.pn-msg-list--event-dark {
    --msg-list__background: #2f3136;
    --msg__alignItems: flex-start;
    --msg--hover__background: #2b2d31;
    --msg__actions--hover__background: #232427;
    --msg__actions__background: #36393f;
    --msg__actions__color: #dcddde;
    --msg__actions__top: 0;
    --msg__author__color: #dcddde;
    --msg__author__fontSize: 13px;
    --msg__avatar__display: none;
    --msg__bubble__background: transparent;
    --msg__bubble__boxShadow: none;
    --msg__bubble__color: #dcddde;
    --msg__bubble__padding: 0;
    --msg__content__alignItems: center;
    --msg__content__flexDirection: row;
    --msg__main__alignItems: baseline;
    --msg__main__flexDirection: column;
    --msg__main__maxWidth: 100%;
    --msg__padding: 7px 12px;
    --msg__reaction--hover__background: #232427;
    --msg__reaction__background: #36393f;
    --msg__time__display: none;
    --msg__title__margin: 0 6px 0 0;
}

    .pn-msg-list--event-dark .pn-msg__author:after {
        content: ":";
    }
/* ************************
        ** Variables
        ** ********************* */
:root {
    --member-list__background: transparent;
    --member__padding: 9px 24px;
    --member__background: transparent;
    --member--hover__background: #f8f6fd;
    --member__avatar__background: #f8f6fd;
    --member__avatar__display: block;
    --member__avatar__margin: 0 24px 0 0;
    --member__avatar__size: 36px;
    --member__avatar__borderRadius: 36px;
    --member__name__color: #585858;
    --member__name__fontSize: 15px;
    --member__name__fontWeight: 500;
    --member__name__padding: 0;
    --member__name__margin: 0;
    --member__title__color: #9b9b9b;
    --member__title__display: inline-block;
    --member__title__fontSize: 13px;
    --member__title__fontWeight: 400;
    --member__title__padding: 5px 0 0;
    --member__title__margin: 0;
    --member__presence__borderRadius: 5px;
    --member__presence__color: #62e905;
    --member__presence__left: 58px;
    --member__presence__position: absolute;
    --member__presence__size: 6px;
    --member__presence__top: 6px;
}

/* ************************
        ** Styles
        ** ********************* */
.pn-member-list {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    background: var(--member-list__background);
}

.pn-member {
    background: var(--member__background);
    display: flex;
    padding: var(--member__padding);
    position: relative;
}

    .pn-member:hover {
        background: var(--member--hover__background);
    }

.pn-member__avatar {
    display: var(--member__avatar__display);
    margin: var(--member__avatar__margin);
    width: var(--member__avatar__size);
}

    .pn-member__avatar img {
        border-radius: var(--member__avatar__borderRadius);
        width: 100%;
    }

.pn-member__avatar-placeholder {
    background: var(--member__avatar__background);
    border-radius: var(--member__avatar__borderRadius);
    height: var(--member__avatar__size);
    width: var(--member__avatar__size);
}

.pn-member__name {
    color: var(--member__name__color);
    font-size: var(--member__name__fontSize);
    font-weight: var(--member__name__fontWeight);
    margin: var(--member__name__margin);
    padding: var(--member__name__padding);
    text-align: left;
}

.pn-member__title {
    color: var(--member__title__color);
    display: var(--member__title__display);
    font-size: var(--member__title__fontSize);
    font-weight: var(--member__title__fontWeight);
    margin: var(--member__title__margin);
    padding: var(--member__title__padding);
    text-align: left;
}

.pn-member__presence {
    background: var(--member__presence__color);
    border-radius: var(--member__presence__borderRadius);
    height: var(--member__presence__size);
    left: var(--member__presence__left);
    position: var(--member__presence__position);
    top: var(--member__presence__top);
    width: var(--member__presence__size);
}

/* ************************
        ** Themes
        ** ********************* */
.pn-member-list--dark,
.pn-member-list--event-dark,
.pn-member-list--support-dark {
    --member-list__background: #292b2f;
    --member--hover__background: #36393f;
    --member__name__color: #dcddde;
    --member__avatar__background: #36393f;
}
/* ************************
        ** Variables
        ** ********************* */
:root {
    --channel-list__background: linear-gradient(rgb(142, 45, 226) 0%, rgb(74, 0, 224) 100%);
    --channel__alignItems: center;
    --channel__padding: 12px 40px 12px 24px;
    --channel__justifyContent: flex-start;
    --channel__background: transparent;
    --channel--hover__background: rgba(255, 255, 255, 0.1);
    --channel--active__background: rgba(0, 0, 0, 0.1);
    --channel__name__color: white;
    --channel--hover__name__color: white;
    --channel--active__name__color: white;
    --channel__thumb__display: block;
    --channel__thumb__margin: 0 24px 0 0;
    --channel__thumb__size: 36px;
    --channel__thumb__borderRadius: 36px;
    --channel__name__fontSize: 15px;
    --channel__name__fontWeight: 500;
    --channel__name__padding: 0;
    --channel__name__margin: 0;
    --channel__description__color: #c7c7c7;
    --channel--hover__description__color: #c7c7c7;
    --channel--active__description__color: #c7c7c7;
    --channel__description__display: inline-block;
    --channel__description__fontSize: 13px;
    --channel__description__fontWeight: 400;
    --channel__description__padding: 3px 0 0;
    --channel__description__margin: 0;
    --channel__leave__color: white;
    --channel__leave__size: 20px;
    --channel__leave__right: 20px;
    --channel__leave__top: auto;
    --channel__membership__borderRadius: 5px;
    --channel__membership__color: #62e905;
    --channel__membership__display: inline-block;
    --channel__membership__left: 10px;
    --channel__membership__position: absolute;
    --channel__membership__size: 6px;
    --channel__membership__top: 19px;
}

/* ************************
        ** Styles
        ** ********************* */
.pn-channel-list {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    background: var(--channel-list__background);
}

.pn-channel {
    align-items: var(--channel__alignItems);
    background: var(--channel__background);
    cursor: pointer;
    display: flex;
    justify-content: var(--channel__justifyContent);
    padding: var(--channel__padding);
    position: relative;
}

    .pn-channel:hover {
        background: var(--channel--hover__background);
    }

        .pn-channel:hover .pn-channel__leave {
            display: inline;
        }

        .pn-channel:hover .pn-channel__name {
            color: var(--channel--hover__name__color);
        }

        .pn-channel:hover .pn-channel__description {
            color: var(--channel--hover__description__color);
        }

.pn-channel--active {
    background: var(--channel--active__background);
}

    .pn-channel--active .pn-channel__name {
        color: var(--channel--active__name__color);
    }

    .pn-channel--active .pn-channel__description {
        color: var(--channel--active__description__color);
    }

.pn-channel__thumb {
    border-radius: var(--channel__thumb__borderRadius);
    display: var(--channel__thumb__display);
    margin: var(--channel__thumb__margin);
    width: var(--channel__thumb__size);
}

.pn-channel__name {
    color: var(--channel__name__color);
    font-size: var(--channel__name__fontSize);
    font-weight: var(--channel__name__fontWeight);
    margin: var(--channel__name__margin);
    padding: var(--channel__name__padding);
    text-align: left;
}

.pn-channel__description {
    color: var(--channel__description__color);
    display: var(--channel__description__display);
    font-size: var(--channel__description__fontSize);
    font-weight: var(--channel__description__fontWeight);
    margin: var(--channel__description__margin);
    padding: var(--channel__description__padding);
    text-align: left;
}

.pn-channel__leave {
    color: var(--channel__leave__color);
    display: none;
    height: var(--channel__leave__size);
    position: absolute;
    right: var(--channel__leave__right);
    top: var(--channel__leave__top);
    width: var(--channel__leave__size);
}

.pn-channel__membership {
    background: var(--channel__membership__color);
    border-radius: var(--channel__membership__borderRadius);
    display: var(--channel__membership__display);
    height: var(--channel__membership__size);
    left: var(--channel__membership__left);
    position: var(--channel__membership__position);
    top: var(--channel__membership__top);
    width: var(--channel__membership__size);
}

/* ************************
        ** Themes
        ** ********************* */
.pn-channel-list--dark,
.pn-channel-list--event-dark,
.pn-channel-list--support-dark {
    --channel-list__background: linear-gradient(rgb(41 43 47) 0%, rgb(47 49 54) 100%);
    --channel--hover__background: #36393f;
    --channel--active__background: #2f3136;
    --channel__description__color: #929292;
    --channel__name__color: #dcddde;
    --channel__leave__color: #dcddde;
}
/* ************************
        ** Variables
        ** ********************* */
:root {
    --typing-indicator__background: #f8f6fd;
    --typing-indicator__color: #9b9b9b;
    --typing-indicator__display: inline-block;
    --typing-indicator__fontSize: 11px;
    --typing-indicator__fontWeight: 500;
    --typing-indicator__padding: 8px 24px;
    --typing-indicator__dot__fontSize: 8px;
    --typing-indicator__dot__margin: 0 3px 0 0;
    --typing-indicator__dot__animationTravel: -12px;
    --typing-indicator__dot__animationDuration: 1.3s;
    --typing-indicator__dot__animationTimeout1: -1.1s;
    --typing-indicator__dot__animationTimeout2: -0.9s;
}

/* ************************
        ** Styles
        ** ********************* */
.pn-typing-indicator {
    background: var(--typing-indicator__background);
    color: var(--typing-indicator__color);
    display: var(--typing-indicator__display);
    font-size: var(--typing-indicator__fontSize);
    font-weight: var(--typing-indicator__fontWeight);
    padding: var(--typing-indicator__padding);
}

.pn-typing-indicator-dot {
    display: inline-block;
    font-size: var(--typing-indicator__dot__fontSize);
    margin: var(--typing-indicator__dot__margin);
    animation: wave var(--typing-indicator__dot__animationDuration) linear infinite;
}

    .pn-typing-indicator-dot:nth-child(2) {
        animation-delay: var(--typing-indicator__dot__animationTimeout1);
    }

    .pn-typing-indicator-dot:nth-child(3) {
        animation-delay: var(--typing-indicator__dot__animationTimeout2);
    }

@@keyframes wave {

    0%,
    60%,
    100% {
        transform: initial;
    }

    30% {
        transform: translateY(var(--typing-indicator__dot__animationTravel));
    }
}

.pn-typing-indicator--dark,
.pn-typing-indicator--event-dark,
.pn-typing-indicator--support-dark {
    --typing-indicator__background: #2f3136;
    --typing-indicator__color: #9b9b9b;
}

.app-simple.light {
    --app-background: #ffffff;
    --app-color: #585858;
    --app-avatar-background: #f8f6fd;
    --app-info-color: #9b9b9b;
    --app-info-border: #d7e0e9;
    --app-chat-background: #f0f3f7;
    --app-people-color: gray;
    --app-people-active-color: #5babfc;
}

    .app-simple.light .pn-msg-input {
        --msg-input__background: transparent;
        --msg-input__send__background: #5babfc;
    }

    .app-simple.light .pn-msg-list--light {
        --msg-list__background: transparent;
        --msg--hover__background: #e5e8ec;
    }

    .app-simple.light .pn-channel-list--light {
        --channel-list__background: #ffffff;
        --channel--active__background: #f0f3f7;
        --channel--hover__background: #5babfc;
        --channel__name__color: #585858;
        --channel--active__name__color: #585858;
    }

.app-simple.dark {
    --app-background: #292b2f;
    --app-color: #ffffff;
    --app-avatar-background: #414348;
    --app-info-color: #9b9b9b;
    --app-info-border: #414348;
    --app-chat-background: #2f3136;
    --app-people-color: gray;
    --app-people-active-color: #de2440;
}

    .app-simple.dark .pn-msg-input {
        --msg-input__send__background: #de2440;
    }

    .app-simple.dark .pn-msg-list--dark {
        --msg-list__background: transparent;
    }

    .app-simple.dark .pn-channel-list--dark {
        --channel-list__background: #292b2f;
        --channel--active__background: #2f3136;
        --channel--hover__background: #de2440;
        --channel__name__color: #9b9b9b;
        --channel--active__name__color: #9b9b9b;
    }

.app-simple {
    background: var(--app-background);
    color: var(--app-color);
    display: flex;
    height: 100vh;
    overflow: hidden;
}

    .app-simple .pn-msg-input {
        --msg-input__send__borderRadius: 25px;
        --msg-input__send__padding: 10px 20px;
        --msg-input__textarea__borderRadius: 25px;
        --msg-input__textarea__padding: 12px 24px;
    }

    .app-simple .pn-channel-list {
        --channel__description__display: none;
        --channel__name__fontSize: 13px;
        --channel__name__fontWeight: 400;
        --channel__padding: 12px 24px;
    }

    .app-simple .pn-member-list {
        --member__padding: 9px 0;
        --member__name__margin: 8px 0 0;
        --member__title__display: none;
        --member--hover__background: transparent;
    }

    .app-simple .pn-msg-list {
        --member__padding: 9px 0;
        --member--hover__background: transparent;
    }

    .app-simple .toggle {
        margin-top: 50px;
        position: relative;
    }

        .app-simple .toggle span {
            font-size: 12px;
            font-weight: bold;
            margin-left: 24px;
        }

        .app-simple .toggle button {
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }

    .app-simple .channels {
        background: var(--app-background);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 300px;
    }

        .app-simple .channels h4 {
            margin: 34px 24px 12px;
        }

    .app-simple .user {
        display: flex;
        padding: 46px 24px 20px;
    }

        .app-simple .user h4 {
            flex-grow: 1;
            margin: 8px 0;
        }

        .app-simple .user img {
            background: var(--app-avatar-background);
            display: block;
            margin: 0 24px 0 0;
            width: 36px;
            height: 36px;
            border-radius: 36px;
        }

    .app-simple .info {
        padding: 24px 24px 0;
    }

        .app-simple .info h4 {
            margin: 0 0 2px;
        }

        .app-simple .info small {
            color: var(--app-info-color);
        }

        .app-simple .info hr {
            background-color: var(--app-info-border);
            border: 0;
            height: 1px;
            margin: 18px 0 0;
        }

    .app-simple .chat {
        background: var(--app-chat-background);
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 30px 30px 30px 0;
        padding-bottom: 30px;
        position: relative;
    }

    .app-simple .members {
        background: var(--app-background);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        transform: translateX(310px);
        transition: 0.3s ease-in-out;
        width: 0;
    }

        .app-simple .members.shown {
            transform: none;
            width: 310px;
        }

        .app-simple .members h4 {
            margin-top: 54px;
        }

        .app-simple .members .close {
            margin-right: 24px;
        }

    .app-simple .close {
        cursor: pointer;
        display: none;
        float: right;
    }

    .app-simple .hamburger {
        display: none;
        float: left;
        font-size: 24px;
        margin-right: 15px;
    }

    .app-simple .people {
        align-items: center;
        color: var(--app-people-color);
        cursor: pointer;
        display: flex;
        font-size: 13px;
        position: absolute;
        right: 34px;
        top: 34px;
        z-index: 1;
    }

        .app-simple .people.active {
            color: var(--app-people-active-color);
        }

        .app-simple .people span {
            margin: 2px 8px 0 0;
        }

@@media (max-width: 950px) {

    .app-simple .channels,
    .app-simple .members.shown {
        width: 200px;
    }
}

@@media (max-width: 700px) {
    .app-simple .channels {
        height: 100%;
        position: absolute;
        z-index: 10;
        transition: 0.3s ease-in-out;
        width: 100%;
    }

        .app-simple .channels:not(.shown) {
            transform: translateX(-100%);
        }

    .app-simple .user {
        padding-top: 24px;
    }

    .app-simple .close {
        display: inline-block;
    }

    .app-simple .chat {
        margin: 5px;
    }

    .app-simple .hamburger {
        display: inline;
    }

    .app-simple .members.shown {
        height: 100%;
        padding: 24px;
        position: absolute;
        z-index: 10;
        width: 100%;
    }

        .app-simple .members.shown h4 {
            margin-top: 0;
        }

            .app-simple .members.shown h4 span {
                margin-right: 48px;
            }
}


.emoji-mart,
.emoji-mart * {
    box-sizing: border-box;
    line-height: 1.15;
}

.emoji-mart {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    font-size: 16px;
    display: inline-block;
    color: #222427;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background: #fff;
}

    .emoji-mart .emoji-mart-emoji {
        padding: 6px;
    }

.emoji-mart-bar {
    border: 0 solid #d9d9d9;
}

    .emoji-mart-bar:first-child {
        border-bottom-width: 1px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .emoji-mart-bar:last-child {
        border-top-width: 1px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

.emoji-mart-anchors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 6px;
    line-height: 0;
}

.emoji-mart-anchor {
    position: relative;
    display: block;
    flex: 1 1 auto;
    color: #858585;
    text-align: center;
    padding: 12px 4px;
    overflow: hidden;
    transition: color 0.1s ease-out;
    margin: 0;
    box-shadow: none;
    background: none;
    border: none;
}

    .emoji-mart-anchor:focus {
        outline: 0;
    }

    .emoji-mart-anchor:hover,
    .emoji-mart-anchor:focus,
    .emoji-mart-anchor-selected {
        color: #464646;
    }

        .emoji-mart-anchor-selected .emoji-mart-anchor-bar {
            bottom: 0;
        }

.emoji-mart-anchor-bar {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #464646;
}

.emoji-mart-anchors i {
    display: inline-block;
    width: 100%;
    max-width: 22px;
}

.emoji-mart-anchors svg,
.emoji-mart-anchors img {
    fill: currentColor;
    height: 18px;
    width: 18px;
}

.emoji-mart-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 270px;
    padding: 0 6px 6px 6px;
    will-change: transform;
    /* avoids "repaints on scroll" in mobile Chrome */
}

.emoji-mart-search {
    margin-top: 6px;
    padding: 0 6px;
    position: relative;
}

    .emoji-mart-search input {
        font-size: 16px;
        display: block;
        width: 100%;
        padding: 5px 25px 6px 10px;
        border-radius: 5px;
        border: 1px solid #d9d9d9;
        outline: 0;
    }

        .emoji-mart-search input,
        .emoji-mart-search input::-webkit-search-decoration,
        .emoji-mart-search input::-webkit-search-cancel-button,
        .emoji-mart-search input::-webkit-search-results-button,
        .emoji-mart-search input::-webkit-search-results-decoration {
            /* remove webkit/blink styles for <input type="search">
          * via https://stackoverflow.com/a/9422689 */
            -webkit-appearance: none;
        }

.emoji-mart-search-icon {
    position: absolute;
    top: 7px;
    right: 11px;
    z-index: 2;
    padding: 2px 5px 1px;
    border: none;
    background: none;
}

.emoji-mart-category .emoji-mart-emoji span {
    z-index: 1;
    position: relative;
    text-align: center;
    cursor: default;
}

.emoji-mart-category .emoji-mart-emoji:hover:before {
    z-index: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    border-radius: 100%;
}

.emoji-mart-category-label {
    z-index: 2;
    position: relative;
    position: sticky;
    top: 0;
}

    .emoji-mart-category-label span {
        display: block;
        width: 100%;
        font-weight: 500;
        padding: 5px 6px;
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.95);
    }

.emoji-mart-category-list {
    margin: 0;
    padding: 0;
}

    .emoji-mart-category-list li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
    }

.emoji-mart-emoji {
    position: relative;
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
}

.emoji-mart-emoji-native {
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
}

.emoji-mart-no-results {
    font-size: 14px;
    text-align: center;
    padding-top: 70px;
    color: #858585;
}

.emoji-mart-no-results-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.emoji-mart-no-results .emoji-mart-category-label {
    display: none;
}

.emoji-mart-no-results .emoji-mart-no-results-label {
    margin-top: 0.2em;
}

.emoji-mart-no-results .emoji-mart-emoji:hover:before {
    content: none;
}

.emoji-mart-preview {
    position: relative;
    height: 70px;
}

.emoji-mart-preview-emoji,
.emoji-mart-preview-data,
.emoji-mart-preview-skins {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.emoji-mart-preview-emoji {
    left: 12px;
}

.emoji-mart-preview-data {
    left: 68px;
    right: 12px;
    word-break: break-all;
}

.emoji-mart-preview-skins {
    right: 30px;
    text-align: right;
}

    .emoji-mart-preview-skins.custom {
        right: 10px;
        text-align: right;
    }

.emoji-mart-preview-name {
    font-size: 14px;
}

.emoji-mart-preview-shortname {
    font-size: 12px;
    color: #888;
}

    .emoji-mart-preview-shortname + .emoji-mart-preview-shortname,
    .emoji-mart-preview-shortname + .emoji-mart-preview-emoticon,
    .emoji-mart-preview-emoticon + .emoji-mart-preview-emoticon {
        margin-left: 0.5em;
    }

.emoji-mart-preview-emoticon {
    font-size: 11px;
    color: #bbb;
}

.emoji-mart-title span {
    display: inline-block;
    vertical-align: middle;
}

.emoji-mart-title .emoji-mart-emoji {
    padding: 0;
}

.emoji-mart-title-label {
    color: #999a9c;
    font-size: 26px;
    font-weight: 300;
}

.emoji-mart-skin-swatches {
    font-size: 0;
    padding: 2px 0;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    background-color: #fff;
}

    .emoji-mart-skin-swatches.custom {
        font-size: 0;
        border: none;
        background-color: #fff;
    }

    .emoji-mart-skin-swatches.opened .emoji-mart-skin-swatch {
        width: 16px;
        padding: 0 2px;
    }

        .emoji-mart-skin-swatches.opened .emoji-mart-skin-swatch.selected:after {
            opacity: 0.75;
        }

.emoji-mart-skin-swatch {
    display: inline-block;
    width: 0;
    vertical-align: middle;
    transition-property: width, padding;
    transition-duration: 0.125s;
    transition-timing-function: ease-out;
}

    .emoji-mart-skin-swatch:nth-child(1) {
        transition-delay: 0s;
    }

    .emoji-mart-skin-swatch:nth-child(2) {
        transition-delay: 0.03s;
    }

    .emoji-mart-skin-swatch:nth-child(3) {
        transition-delay: 0.06s;
    }

    .emoji-mart-skin-swatch:nth-child(4) {
        transition-delay: 0.09s;
    }

    .emoji-mart-skin-swatch:nth-child(5) {
        transition-delay: 0.12s;
    }

    .emoji-mart-skin-swatch:nth-child(6) {
        transition-delay: 0.15s;
    }

    .emoji-mart-skin-swatch.selected {
        position: relative;
        width: 16px;
        padding: 0 2px;
    }

        .emoji-mart-skin-swatch.selected:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 4px;
            height: 4px;
            margin: -2px 0 0 -2px;
            background-color: #fff;
            border-radius: 100%;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.2s ease-out;
        }

    .emoji-mart-skin-swatch.custom {
        display: inline-block;
        width: 0;
        height: 38px;
        overflow: hidden;
        vertical-align: middle;
        transition-property: width, height;
        transition-duration: 0.125s;
        transition-timing-function: ease-out;
        cursor: default;
    }

        .emoji-mart-skin-swatch.custom.selected {
            position: relative;
            width: 36px;
            height: 38px;
            padding: 0 2px 0 0;
        }

            .emoji-mart-skin-swatch.custom.selected:after {
                content: "";
                width: 0;
                height: 0;
            }

.emoji-mart-skin-swatches.custom .emoji-mart-skin-swatch.custom:hover {
    background-color: #f4f4f4;
    border-radius: 10%;
}

.emoji-mart-skin-swatches.custom.opened .emoji-mart-skin-swatch.custom {
    width: 36px;
    height: 38px;
    padding: 0 2px 0 0;
}

    .emoji-mart-skin-swatches.custom.opened .emoji-mart-skin-swatch.custom.selected:after {
        opacity: 0.75;
    }

.emoji-mart-skin-text.opened {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    color: #888;
    font-size: 11px;
    padding: 5px 2px;
    width: 95px;
    height: 40px;
    border-radius: 10%;
    background-color: #fff;
}

.emoji-mart-skin {
    display: inline-block;
    width: 100%;
    padding-top: 100%;
    max-width: 12px;
    border-radius: 100%;
}

.emoji-mart-skin-tone-1 {
    background-color: #ffc93a;
}

.emoji-mart-skin-tone-2 {
    background-color: #fadcbc;
}

.emoji-mart-skin-tone-3 {
    background-color: #e0bb95;
}

.emoji-mart-skin-tone-4 {
    background-color: #bf8f68;
}

.emoji-mart-skin-tone-5 {
    background-color: #9b643d;
}

.emoji-mart-skin-tone-6 {
    background-color: #594539;
}

/* For screenreaders only, via https://stackoverflow.com/a/19758620 */
.emoji-mart-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*
        * Dark mode styles
        */

.emoji-mart-dark {
    color: #fff;
    border-color: #555453;
    background-color: #222;
}

    .emoji-mart-dark .emoji-mart-bar {
        border-color: #555453;
    }

    .emoji-mart-dark .emoji-mart-search input {
        color: #fff;
        border-color: #555453;
        background-color: #2f2f2f;
    }

    .emoji-mart-dark .emoji-mart-search-icon svg {
        fill: #fff;
    }

    .emoji-mart-dark .emoji-mart-category .emoji-mart-emoji:hover:before {
        background-color: #444;
    }

    .emoji-mart-dark .emoji-mart-category-label span {
        background-color: #222;
        color: #fff;
    }

    .emoji-mart-dark .emoji-mart-skin-swatches {
        border-color: #555453;
        background-color: #222;
    }

    .emoji-mart-dark .emoji-mart-anchor:hover,
    .emoji-mart-dark .emoji-mart-anchor:focus,
    .emoji-mart-dark .emoji-mart-anchor-selected {
        color: #bfbfbf;
    }


.app-event {
    align-items: center;
    background: linear-gradient(#3e4148 0%, #2f3136 100%);
    color: white;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

    .app-event .main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
    }

    .app-event .channels {
        margin: 20px;
    }

    .app-event .link {
        margin-left: 10px;
        cursor: pointer;
        color: #a457e6;
    }

    .app-event .event {
        display: flex;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
    }

        .app-event .event iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

    .app-event .chat {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        width: 400px;
    }

    .app-event .people {
        background: #2f3136;
        color: #a457e6;
        font-size: 13px;
        padding: 22px;
    }

        .app-event .people svg {
            margin-left: 7px;
            vertical-align: -1px;
        }

        .app-event .people span:last-child {
            float: right;
        }

    .app-event .info {
        display: flex;
        margin: 20px;
    }

        .app-event .info h3 {
            color: #a457e6;
            margin: 0 0 10px;
        }

    .app-event .avatar {
        background: #4b4e54;
        border-radius: 50%;
        height: 75px;
        margin-right: 20px;
        width: 75px;
    }

    .app-event .text {
        color: #7d7d7d;
        font-size: 12px;
        line-height: 1.5rem;
        margin: 0 20px;
    }

    .app-event .pn-msg-input {
        --msg-input__padding: 0 10px 15px;
    }


.app-group {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

    .app-group .channels {
        flex-shrink: 0;
        width: 300px;
    }

    .app-group .chat {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: relative;
    }

    .app-group .members {
        transition: 0.3s ease-in-out;
        flex-shrink: 0;
        width: 0;
        transform: translateX(310px);
    }

        .app-group .members.shown {
            transform: none;
            width: 310px;
        }

    .app-group .people {
        align-items: center;
        color: gray;
        cursor: pointer;
        display: flex;
        font-size: 13px;
        position: absolute;
        right: 40px;
        top: 10px;
        z-index: 1;
    }

        .app-group .people span {
            margin: 2px 8px 0 0;
        }

        .app-group .people.active {
            color: #8e2de2;
        }

    .app-group .pn-channel-list {
        --channel__membership__top: 25px;
        --channel__name__fontSize: 13px;
        --channel__name__fontWeight: 400;
        --channel__padding: 20px 24px;
    }

    .app-group .pn-msg-input {
        --msg-input__padding: 0 24px 24px;
    }

#main-container {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #585858;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.pubnub-error {
    color: rgb(168, 0, 0);
    margin: 0 auto;
    width: 900px;
}

.welcome {
    margin: 0 auto;
    width: 900px;
}

    .welcome a {
        color: #de2440;
        text-decoration: none;
    }

        .welcome a:hover {
            text-decoration: underline;
        }

    .welcome ul {
        padding-left: 16px;
    }

    .welcome li {
        margin: 10px 0;
    }


.unread-message-badge {
    border-radius: 50%;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    width: 25px;
    right: 25px;
    position: absolute;
    padding: 0;
}

.pn-msg-list ::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

.pn-msg-list ::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
}

.pn-msg-list ::-webkit-scrollbar-thumb {
    background-color: #555; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid var(--app-chat-background); /* creates padding around scroll thumb */
}