@model YogaMo.WebAPI.Database.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="QuantityStock" class="control-label"></label>
                <input asp-for="QuantityStock" class="form-control" />
                <span asp-validation-for="QuantityStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <img src="/Picture/Product/@Model.ProductId" class="elevation-2 d-block" alt="User Image" width="200" onclick="$('#Photo').click();" style="cursor: pointer;">
                <input type="file" asp-for="Photo" />

                @if (Model.Photo != null && Model.Photo.Length > 0)
                {
                    <button type="button" class="btn btn-default" id="ButtonRemovePhoto">Remove Profile Picture</button>
                }
                else
                {
                    <button type="button" class="btn btn-default" id="ButtonRemovePhoto" style="display: none;">Remove Photo</button>
                }
                <input type="checkbox" hidden id="RemovePhoto" name="RemovePhoto" />
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="Status" class="large-checkbox" />
                <label asp-for="Status" class="control-label"></label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(':input[type=file]').change(function (event) {
        if (event.target.files.length) {
            var tmppath = URL.createObjectURL(event.target.files[0]);
            $(this).siblings("img").attr('src', tmppath);
            $('#ButtonRemovePhoto').show();
        }
        else {
            $(this).siblings("img").attr('src', "/Picture/Photo/@Model.ProductId");
        }
    });
    $('#ButtonRemovePhoto').click(function () {
        $(this).hide();

        $('#RemovePhoto').prop('checked', true);
        $('#Photo').val("");
        $(this).siblings("img").attr('src', "@ImageHelper.DefaultProductImageLocation");
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
